<h1>Drinks</h1>
<div *ngFor="let drinks of myDrinks">
  <p>{{  drinks.name  }}</p>
  <p>{{  drinks.price  }} €</p>
  <!-- <app-drunk-store-detail [drinks]='drinks'></app-drunk-store-detail> -->
</div>
<app-drunk-store-detail [myDrinks]='myDrinks'></app-drunk-store-detail>
