<h1>Full detail of the drinks</h1>
<div *ngFor="let drink of myDrinks">
  <p>{{ drink.name }}</p>
  <p>{{ drink.type }}</p>
  <img src="{{drink.image}}" alt="{{drink.name}}">
  <p>{{ drink.price }} €</p>
  <p>{{ drink.description }}</p>
</div>
