<app-form-search-component (movieRequest)="getSearch($event)"></app-form-search-component>
<div class="container">
  <ng-container *ngFor="let movie of search">
    <app-movie-gallery-component *ngIf="movie.poster_path" [movie]="movie" [imgUrl]="imgUrl"
      (movieDetail)="getMovieId($event)" [showModal]="showModal">
    </app-movie-gallery-component>
  </ng-container>
</div>
<app-modal-detail-component [(showModal)]="showModal">
  <div class="modal-comunication">
    <youtube-player class="modal--videoPlayer" videoId="{{ movieKey }}" suggestedQuality="highres" [height]="350" [width]="1128" >
    </youtube-player>
  </div>
  <div class="modal-body">
    <h3>VIDEO DE PELICULA</h3>
  </div>
</app-modal-detail-component>



    <!-- <h1>{{ movie.original_title }}</h1>
    <p>{{ movie.release_date }}</p> -->
    <!-- <p>{{ movie.overview }}</p>
    <p>Popularidad: {{ movie.popularity }} %</p> -->

    <!-- Respuesta de la api:
    adult: boolean;
    backdrop_path: string | null;
    genre_ids: number[];
    id: number;
    original_language: string;
    original_title: string;
    overview: string;
    popularity: number;
    poster_path: string | null;
    title: string;
    video: boolean;
    vote_average: number;
    vote_count: number;
    release_date: string; -->
