<h1>Add an alcoholic Drink</h1>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="alcoholicDrinkForm">
  <fieldset>
    <label for="name">Nombre</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="alcoholicDrinkForm.get('name').invalid && (alcoholicDrinkForm.get('name').dirty || submitted)">
      Debes introducir un nombre.
    </div>
  </fieldset>
  <fieldset>
    <label for="type">Tipo de bebida</label>
    <input type="text" id="type" formControlName="type">
    <div *ngIf="alcoholicDrinkForm.get('type').invalid && (alcoholicDrinkForm.get('type').dirty || submitted)">
      Debes introducir nun tipo de bebida.
    </div>
  </fieldset>
  <fieldset>
    <label for="image">URL Imagen</label>
    <input type="text" id="image" formControlName="image">
    <div *ngIf="alcoholicDrinkForm.get('image').invalid && (alcoholicDrinkForm.get('image').dirty || submitted)">
      Debes introducir una imagen.
    </div>
  </fieldset>
  <fieldset>
    <label for="price">Precio</label>
    <input type="text" id="price" formControlName="price">
    <div *ngIf="alcoholicDrinkForm.get('price').invalid && (alcoholicDrinkForm.get('price').dirty || submitted)">
      Debes introducir un precio.
    </div>
  </fieldset>
  <fieldset>
    <label for="description">Descripción</label>
    <input type="text" id="description" formControlName="description">
    <div *ngIf="alcoholicDrinkForm.get('description').invalid && (alcoholicDrinkForm.get('description').dirty || submitted)">
      Debes introducir una descripción.
    </div>
  </fieldset>
  <button type="submit" [disabled]="alcoholicDrinkForm.invalid">Enviar</button>
</form>
