:host {
  --background-color: #0009;
  --background-window-color: #141414;
  --warning-color: #be1622;
  --general-color: #303133;
  --text-color: #e5e5e5;


  display: block;
  pointer-events: all;
}

.modal--closed {
  background-color: var(--background-color);
  display: flex;
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 10;
}

/*
Para poder animar la apertura de la modal le ponemos ancho/alto 0
Cuando se abre ocupa su ancho/alto correspondiente y se le da opacidad
*/
.modal--opened {
  height: 100vh;
  opacity: 1;
  transition: opacity 300ms  ease-in-out 100ms;
  width: 100vw;


}

.modal-window {
  background-color: var(--background-window-color);
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: auto;
  padding: 100px;
  width: 70vw;

  @media (--desktop) {
    height: auto;
    width: 300px;
  }
}

.modal-window-head {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  width: 100%;

  youtube-player{
    width: 100%;
  }
}

.modal-window-comunication {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;

}

.modal-window-message {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
}

.generic-modal-window-icon {
  border: 0;
  display: flex;
  height: 20px;
  margin-left: auto;
  position: relative;
  width: 50px;
  color: var(--text-color);
  font-size: x-large;
  font-weight: 20px;
}

.generic-modal-window-icon::before {
  content: "X";
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 50px;
  cursor: pointer;
}


