<div
  class="modal--closed"
  [ngClass]="{ 'modal--opened': showModal }"
>
  <div class="modal-window">
    <div class="modal-window-head">
      <span class="generic-modal-window-icon" (click)="closeShowModal()">
      </span>
      <div class="modal-window-comunication">
        <ng-content select=".modal-comunication"></ng-content>
      </div>
    </div>
    <div class="modal-window-message">
      <ng-content select=".modal-body"></ng-content>
    </div>
  </div>
</div>
<div class="ytp-cued-thumbnail-overlay-image" style="background-image: url(&quot;https://i.ytimg.com/vi_webp/sfM7_JLk-84/sddefault.webp&quot;);"></div>
