b-container{
  height: 400px;
  width: 100%;

  img{
    height: 400px;
    width: 100%;

  }
}
.b-lottie-container{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../../../assets/netflix-bg-about.jpg');

  // El fondo no se repite
  background-repeat: no-repeat;
  // El fondo se re-escala automáticamente
  background-size: cover;
  // background-position-y: center center;

}


.lottie-movie{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;

}





