<div class="b-container">
  <div class="b-lottie-container">

    <h1>Movies and Tv shows</h1>
  </div>
</div>
  <div class="lottie-movie">
      <ng-lottie [options]="options"(animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
