/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
$bg-color: #000000;
$tittle: #e23f20;

p{
  color: #e5e5e5;
}
h1{
  color: #e5e5e5;
}
body{
  background-color: #000000;
}


