  .container-img {

    width: 250px;
    height: 300px;
    margin: 5px;


    img {

      padding: .375rem .75rem;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      transition: 500ms all;
      opacity: .85;
    }

    img:hover {
      position: relative;
      margin-left: 0 40px;
      transform: scale(1.1);
      cursor: pointer;
      opacity: 1;
      z-index: 10;

    }

  }
