<form *ngIf="searchForm" novalidate [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <fieldset class="container">
    <label for="search"></label>
    <input type="text" id="search" class="container-inputForm" name="search"
    formControlName="search" aria-keyshortcuts="enter" placeholder="Search for a movie"
    autocomplete="off">
  </fieldset>
</form>
