.container{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border: 0px;

  .container-inputForm{
    width: 25vw;
    height: 3vh;
    border-style: none;
    background-color: rgb(56, 55, 55);
    color: #e5e5e5;


  }
  .container-inputForm:focus{
    width: 25vw;
    height: 3vh;
    border-style: none;
    background-color: rgb(56, 55, 55);
    color: #e5e5e5;
    font-size: 1rem;
    transform: scale(1.3);
    outline: none;

  }
}
